<!DOCTYPE html>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<head>
    <title>APPI</title>
</head>


<body>
    <br>
    <div class="header">
        <h1>
            APPI
        </h1>
    <div>
    <a href="/keylist">Keylist</a>
    <br>
    <li><a href="/postbook">Lisää kirjaviite</a></li>
    <li><a href="/postmaster">Lisää graduviite</a></li>
    <h2>Book List</h2>
    <ul style="list-style-type: none;">
        {% for book in books %}
            <li>@book&#123;{{ book.key }}, 
                <br>&nbsp;&nbsp;&nbsp;&nbsp;author = &#123;{{ book.author }}&#125;, 
                <br>&nbsp;&nbsp;&nbsp;&nbsp;title = &#123;{{ book.title }}&#125;, 
                <br>&nbsp;&nbsp;&nbsp;&nbsp;year = &#123;{{ book.year }}&#125;, 
                <br>&nbsp;&nbsp;&nbsp;&nbsp;publisher = &#123;{{ book.publisher }}&#125;,
                {% if book.volume %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;volume = &#123;{{ book.volume }}&#125;,
                {% endif %}
                {% if book.series %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;series = &#123;{{ book.series }}&#125;,
                {% endif %}
                {% if book.address %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;address = &#123;{{ book.address }}&#125;,
                {% endif %}
                {% if book.edition %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;edition = &#123;{{ book.edition }}&#125;,
                {% endif %}
                {% if book.month %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;month = &#123;{{ book.month }}&#125;,
                {% endif %}
                {% if book.note %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;note = &#123;{{ book.note }}&#125;, 
                {% endif %}
                <br>&#125;</li>
        {% endfor %}
    </ul>
    <h2>Masters thesis List</h2>
    <ul style="list-style-type: none;">
        {% for thesis in master %}
            <li>@mastersthesis&#123;{{ thesis.key }},
                <br>&nbsp;&nbsp;&nbsp;&nbsp;author = &#123;{{ thesis.author }}&#125;,
                <br>&nbsp;&nbsp;&nbsp;&nbsp;title = &#123;{{ thesis.title}}&#125;,
                <br>&nbsp;&nbsp;&nbsp;&nbsp;school = &#123;{{ thesis.school }}&#125;,
                <br>&nbsp;&nbsp;&nbsp;&nbsp;year = &#123;{{ thesis.year }}&#125;,
                {% if thesis.type %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;type = &#123;{{ thesis.type }}&#125;,
                {% endif %}
                {% if thesis.address %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;address = &#123;{{ thesis.address }}&#125;,
                {% endif %}
                {% if thesis.month %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;month = &#123;{{ thesis.month }}&#125;,
                {% endif %}
                {% if thesis.note %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;note = &#123;{{ thesis.note }}&#125;,
                {% endif %}
                <br>&#125;</li>
        {% endfor %}
    </ul>
</body>