<!DOCTYPE html>
<meta name='viewport' content='width=device-width, initial-scale=1'>


<body>
    <div>
        <form action="/sendbook" method="POST">
        <p>Käyttäjäunnus:<br>
        <input type="text" name="username"></p>
        <p>author:<br>
        <input type="text" name="author"></p>
        <p>title:<br>
        <input type="text" name="title"></p>
        <p>year:<br>
        <input type="text" name="year"></p>
        <p>publisher:<br>
        <input type="text" name="publisher"></p>
        <input type="submit" value="Lisää">
        </form>
        <br>
    </div>
</body>