<!DOCTYPE html>
<meta name='viewport' content='width=device-width, initial-scale=1'>


<body>
    <div>
        <form action="/sendmaster" method="POST">
        <p>Käyttäjäunnus:<br>
        <input type="text" name="username" required></p>
        <p>key:<br>
        <input type="text" name="key" required></p>
        <p>author:<br>
        <input type="text" name="author" required></p>
        <p>title:<br>
        <input type="text" name="title" required></p>
        <p>school:<br>
        <input type="text" name="school" required></p>
        <p>year:<br>
        <input type="text" name="year" required></p>
        <p>type:<br>
        <input type="text" name="type"></p>
        <p>address:<br>
        <input type="text" name="address"></p>
        <p>month:<br>
        <input type="text" name="month"></p>
        <p>note:<br>
        <input type="text" name="note"></p>
        <p>annote:<br>
        <input type="text" name="annote"></p>
        
        <input type="submit" value="Lisää">
        </form>
        <br>
    </div>
</body>